.container {
    height: 90vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    height: 5%;
    font-size: 1.2rem;
    color: rgb(161, 159, 159);
    margin-left: 93%;
}

.main-content {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    height: 50%;
    width: 20%;
    padding: 1rem 2rem;
    border: 0.3rem solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
}

input {
    padding: 1rem 1rem;
    width: 85% ;
    font-size: 1rem;
    margin: 0.5rem;
    border-radius: 1rem;
    border-style: soild; 
}

button {
    width: 95%;
    height: 15%;
    font-size: 1.3rem;
    margin: 0.5rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: opacity 0.15s; 
}

button:hover{
    opacity: 0.8;
}

.status {
    font-size: 1.3rem;
    text-align: center;
}

.right-credentials {
    color: red;
}

.wrong-credentials {
    color: green;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}